<launch>
    <arg name="debug" default="false"/>
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <arg name="world" default="$(find r2_planning_demos)/world/iss_navigation.world.yaml"/>

    <!--  spawn world - RViz visualization -->
    <include file="$(find r2_planning_demos)/launch/spawn_world.launch">
        <arg name="world" value="$(arg world)"/>
    </include>

    <!-- Spawning demo executable -->
    <node name="iss_navigation" launch-prefix="$(arg launch_prefix)" pkg="r2_planning_demos" type="iss_navigation" output="screen" required="true">
        <rosparam command="load" file="$(arg world)"/>
   </node>
</launch>